@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Prentendard-Regular', sans-serif, ui-sans-serif, system-ui, -apple-system,
    BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

.max-w-1024 {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-shadow {
  -webkit-box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px -3px rgba(0, 0, 0, 0.2);
}
